/*var*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
$font-1: "Baloo Bhaijaan 2";
$font-2: Arial, Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: #686868;
}

/*comp*/
.emailContainer {
  width: 100%;
  margin: 40px auto;
  background: #fff;

  nav {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 400px;
      height: 42px;
    }
  }

  .blueContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00aeef;

    img {
      width: 95%;
      max-width: 700px;
      padding: 85px 0 100px 0;
    }
  }

  .content {
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 27px;
    line-height: 1.2;

    .primary {
      height: 60px;
      width: 280px;
      margin: 50px;
      border: none;
      background: #000;
      color: #fff;
      font-weight: 500;
      font-size: 24px;
      font-family: $font-2;
      border-radius: 23px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: translateY(-3px);
      }
    }

    .line {
      width: 95%;
      margin: 20px auto 0 auto;
      height: 12px;
    }

    .diffTitle {
      font-family: $font-2;
      margin-top: 30px;
    }

    .diffTile {
      width: 100%;
      margin: 50px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .contentText {
        margin-top: -35px;
      }
    }

    .diffOfferText {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  footer {
    .shippingContent {
      width: 100%;
      height: 170px;
      padding: 20px 0;
      background: #e1e1e1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img {
        width: 200px;
      }
    }

    .socialsContent {
      width: 100%;
      height: 170px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: #00aeef;

      i {
        font-size: 35px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          transform: translateY(-3px);
        }
      }
    }

    .footerMenuContent {
      width: 100%;
      height: 85px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: #cceffc;

      .footerMenuText {
        color: #666;
        font-weight: 700;
        font-size: 22px;
        font-family: $font-2;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: #888;
        }
      }
    }

    .privacyContent {
      width: 100%;
      padding: 20px 0 30px 0;
      text-align: center;

      .menuLinks {
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: center;

        .menuLinksElement {
          padding: 0 20px;
          cursor: pointer;
          font-size: 17px;

          &--left {
            border-right: 1px solid #000;
          }

          &--right {
            border-left: 1px solid #000;
          }
        }
      }

      .textContent {
        font-size: 10px;
        margin-top: 10px;
        line-height: 1.2;
        font-weight: 500;
      }
    }
  }
}
