/*var*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
$font-1: "Baloo Bhaijaan 2";
$font-2: Arial, Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: #686868;
}

/*comp*/
.emailContainer {
  width: 800px;
  margin: 40px auto;
  background: #fff;

  nav {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 45%;
      height: 42px;
    }
  }

  .blueContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00aeef;

    img {
      width: 95%;
      padding: 85px 0 100px 0;
    }
  }

  .content {
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 27px;
    line-height: 1.2;

    .primary {
      height: 60px;
      width: 280px;
      margin: 50px;
      border: none;
      background: #000;
      color: #fff;
      font-weight: 500;
      font-size: 24px;
      font-family: $font-2;
      border-radius: 23px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: translateY(-3px);
      }
    }

    .line {
      width: 95%;
      margin: 20px auto 0 auto;
      height: 12px;
    }

    .diffTitle {
      font-family: $font-2;
      margin-top: 30px;
    }

    .diffTile {
      width: 100%;
      margin: 50px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .contentText {
        margin-top: -35px;
      }
    }

    .diffOfferText {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  footer {
    .shippingContent {
      width: 100%;
      height: 170px;
      padding: 20px 0;
      background: #e1e1e1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img {
        width: 200px;
      }
    }

    .socialsContent {
      width: 100%;
      height: 170px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: #00aeef;
    }
  }
}
